@use '../abstracts';

// HERO 
#hero {
    height: 95vh;
    // border: 3px solid abstracts.$brand;
    max-width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-rows: 40vh auto;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    background: #f4f4f4;
    background: #ffff;
    // overflow-x: hidden;

    @include abstracts.md {
        grid-template-rows: 1fr;
        // grid-template-columns: 60% auto;
    }


    // DESKTOP HERO
    @include abstracts.lg {
        // grid-template-areas: '';
        grid-template-columns: 1fr 60%;
        
    }

    // HERO ACTIVE BACKGROUND CLASS
    &.active {
        background: abstracts.$brand;
    }

    &::after {
        content: '';
        position: absolute;
        background: abstracts.$brand;
        height: 100px;
        height: 100%;
        width: 200px;
        width: 100%;
        // top: 0;
        right: -55vw;
        // rotate: 43deg;
        z-index: -2;
        clip-path: polygon(100% 0, 0 0, 100% 100%);
        // border: 2px solid pink;

        @include abstracts.lg {
            // clip-path: none;
            display: none;
    } 

    }

}

// HERO-IMAGE = BACKGROUND IMAGE
.hero-image {
    overflow: clip;
    z-index: -1;
    transition: 250ms;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);

    @include abstracts.sm {
        clip-path: polygon(100% 0, 0% 50%, 100% 100%);
    }

    @include abstracts.lg {
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        clip-path: none;
        background: abstracts.$brand;
    } 

    img {

        @include abstracts.lg {
            clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
        }

        object-fit: cover;
        height: 100%;
        width: 100%;
        
        // animation: fade-in 2s linear;
        // animation-timeline: view();
        // animation-timeline: view(500px 200px);
        // animation-timeline: view(400px 400px);
        // animation-range: -70vh 30vh;
        // animation-range-start: 90vh;
        // animation-range-start: 0vh;
        // animation-range-start: contain;
        
        // animation-range-end: 450px;
        // animation-range-end: contain;
        // animation-range-end: 95vh;

        @keyframes fade-in {
            from {
                scale: 0.25;
                opacity: .25;
            }

            to {
                scale: 10;
                opacity: 1;
            }
        }
        
        // @include abstracts.sm {
        //     object-position: center;
        //     object-position: 50% 30%;
        //     margin-left: auto;
        //     width: 500px;
        // }
        // @include abstracts.lg {
        //     width: 55vw;
        //     object-position: 50% 0%;
        // }
    }
}

// HERO PAGE TITLE
.hero-title {
    position: relative;
    top: calc(8vh + 20vh);
    padding: 0 5vw;
    height: min-content;
    // padding: calc(8vh + 15vh) 5vw 1rem 5vw;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: abstracts.$brand;
        filter: blur(2rem);
        opacity: 0.05;
        z-index: -1;
    }

    // DESKTOP HERO
    @include abstracts.lg {
        width: auto;
        // padding: 30vh 5vw;
    }

    h1 {
            line-height: 1.4;
            margin-bottom: 1rem; 
            font-size: abstracts.$font-clamp-lg;
            font-weight: 600;
            text-transform: capitalize;
        }

        p {
            width: 300px;
            @include abstracts.md {
                width: auto;
            }
            &::first-letter {
                text-transform: capitalize;
            }
            &::after {
                content: '.';
            }
        }

}